body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

a {
    color: #000;
    text-decoration: none;
    position: relative;
}

.container {
    padding-top: 50px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-welcome {
    width: 100%;
    height: 30px;
    background-color: #d9e1e6;
    color: #868f93;
}

.header-welcome__close {
    float: right;
    padding-right: 5px;
    font-size: 100%;
    font-weight: 600;
}

.header-welcome__msg {
    line-height: 30px;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}



/*logo line*/

.header-line {
    height: 97px;
    text-transform: uppercase;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;
    border-bottom: 2px solid #e1e1e1;
}

.header-line:last-child 
{
    height: 70px;
}


.header-line__logo {
    font-size: 24px;
    font-family: 'Intro demo';
}

.header-line__cart {
    line-height: 40px;
    border: 2px solid;
    font-size: 12px;
    border-color: #ded3aa;
    text-align: center;
    height: 40px;
    width: 124px;
}

/*link line*/
.link_line {
    line-height: 68px;
    text-transform: uppercase;
    border-top: 2px solid #ded3aa;
    border-bottom: 2px solid #ded3aa;
}

.link_content {
    display: flex;
    width: 100%;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header-line__nav {
    max-width: 545px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-line__link {
    font-size: 12px;
    margin: 0 25px;
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px; 
	background-color: #5b5b5b; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 

}



.header-line__icons
{
    display: flex;
}

.icon {
    
    font-size: 16px;

}

.header-line__heart {
    content: "";
    border-right: 1px dashed #999999;
    border-right-width: 1px;
    padding: 0 14px;

}

.header-line__search {
    padding: 0 14px;
}


/*main content*/
.main_content {
    padding-top: 48px;
    display: flex;
}


.container__main-img {
    height: 683px;
    width: 657px;
}

.container-photos-alt {
    display: flex;
    flex-direction: row;
    width: 146px;
    padding-top: 21px;
    padding-bottom: 101px;

}

.container__alt-img {
    width: 146px;
    height: 170px;
    margin-right: 24px;

}

.container__alt-img:hover {
    box-shadow: 1px 1px 1px #cbcdce;
}


/*Container text*/ 

.container-text 
{
    margin-left: 29px;
    font-size: 14px;
}

.container-text__product_name h2
{
    line-height: 36px;
    font-size: 24px;
    margin-bottom: 0;
}

.container-text__review
{
    line-height: 25px;
    font-size: 14px;
    color: #555555;
}

.fa-star
{
    color: #ded3aa;
}

.container-text__review a
{
    font-size: 12px;
    color: #000;
}

.container-text__price {
    margin-top: 15px;
    font-size: 24px;
    color: #68899a;
}

.container-text__inform {
    font-size: 14px;
    line-height: 24px;
    margin-top: 18px;
}

.container-text__inform p 
{
    margin: 0 0;
}

.container-text__inform a {
    color: #68899a;
}

.container-text__about {
    margin-top: 30px;
    font-size: 14px;
    color: #555555;
}

.container-text__about ul {
    padding-left: 0;
    list-style-position: inside;
}

.container-text-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-color: #e1e1e1;
    text-transform: uppercase;
    font-size: 14px;

}

.container-text-selectors__selector {
    width: 196px;
}

.container-text-selectors__selector select {
    font-size: 13px;
    color: #707070;
    width: 168px;
    height: 35px;
    border-radius: 0%;
    border-color: #e1e1e1;
    padding-left: 12px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select, input
{
    outline: none;
}

select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25em) 0.8499999999999932em;
    background-size: 1.2499999999999991em auto;
    background-image: url("../images/icon.png");
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input {
    text-align: center;
}

.container-text-selectors__counter {
    display: flex;
    align-items: center;

}

.container-text-selectors__counter input {
    padding: 5px;
    font-size: 13px;
    color: #707070;
    width: 34px;
    height: 33px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #e1e1e1;
}


.container-text-selectors__buttons {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: 1px solid #e1e1e1;
    border-left: none;
}

.container-text-selectors__buttons button {
    border-radius: 0;
    border: 0px;
    background-color: #fff;
    height: 16.5px;
}

.container-text-selectors__buttons button:first-child {

    border-bottom: 0.5px solid #e1e1e1;
}

.container-text-selectors__buttons button:last-child {

    border-top: 0.5px solid #e1e1e1;
}

.count_up {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    border-bottom: 2px solid #cccccc;
}

.count_down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    border-top: 2px solid #cccccc;
}




footer {
    border-top: 1px solid #e1e1e1;
    line-height: 75px;
    text-align: center;
    color: #b5b5b5;
    font-size: 13px;
    font-family: 'Lato';
}


@media screen and (max-width: 1420px) {


    .container {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .icon
    {
        padding-left:15px ;
        padding-right:15px;
    }

    .header-line {
        display: flex;
        justify-content: space-between;
    }

    .header-line__val {
        width: auto;
    }

    .header-line__cart {
        width: 100%;
        max-width: 124px;
        min-width: 80px;
    }

    .header-line__nav {
        display: none;
    }

    .container-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__main-img {
        width: 90%;
        max-width: 657px;
        height: auto;
    }

    .container-photos-alt 
    {

        width: 100%;
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .container_alt-img {
        width: 100%;
        max-width: 146px;
        height: auto;

    }

    .container_alt-img:last-child {
        margin-right: 0;
    }

    .container-text {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 7px;
    }

    .container-text-selectors {
        display: flex;
        flex-direction: column;

    }

    footer {
        font-size: 13px;
        line-height: 20px;
    }
}
